@import '../../../misins.scss';

.castSection {
    width: 100%;
    margin-bottom: 50px;

    .contentWrapper {
        .heading {
            color: white;
            font-size: 36px;
            font-weight: normal;
            margin-bottom: 20px;
        }

        .castInfoFull {
            width: 100%;
            overflow-y: scroll;
            display: flex;
            gap: 20px;

            .castInfo {

                img {
                    width: 100%;
                    height: auto;
                    border-radius: 50%;
                    max-height: 100px;
                    min-width: 100px;
                }
            }
        }
    }

}